.app {
  min-height: 100vh;
}

.main-container {
  display: flex;
}

.content {
  flex: 1;
  min-height: calc(100vh - 60px);
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  
  .content {
    width: 100%;
  }
}
